<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}" th:with="menu='home'"><!--/* menuItemにパラメータを渡す */-->
    <head layout:fragment="~{common/layout::header}">
        <title>Home</title>
    </head>
    <body>
        <!--/* この形式のコメントはHTMLソースから削除される */-->
        <div layout:fragment="content">
            <h2>Front Home</h2>
            <a th:href="@{/arigato}" id="toArigato">ありがと</a>

            <section class="arigato" th:each="arigato : ${page.data}" th:object="${arigato}">
                <hr />
                to <span><image th:if="*{to.hasImage()}" height="30px" th:src="@{/user/image/__*{to.id}__}" /><span th:text="*{to.name}"></span></span>
                <div th:text="*{subject}" class="subject"></div>
                <div th:text="*{body}"></div>
                from <span><image th:if="*{from.hasImage()}" height="30px" th:src="@{/user/image/__*{from.id}__}" /><span th:text="*{from.name}"></span></span>
            </section>
        </div>
    </body>
</html>
