<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
<head>
    <title>ありがと一覧</title>
</head>
<body>
<div layout:fragment="sidebar">
    <div th:replace="~{layouts/sidebar :: sidebar ('arigato', 'arigato')}"></div>
</div>

<section layout:fragment="content-header">
    <h1>ありがと検索</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li>ありがと検索</li>
    </ol>
</section>
<section layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">検索条件</h3>
            <form th:object="${searchArigatoForm}" th:action="@{/arigato/find(page=1)}" method="get" class="form-horizontal">
                <div class="form-group">
                    <div class="control-group">
                        <label class="col-sm-2 control-label">件名</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{subject}" size="30" maxlength="80" />
                            <span class="help-inline">
                                <p th:errors="*{subject}">Error</p>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{body}" size="30" maxlength="80" />
                            <span class="help-inline">
                                <p th:errors="*{body}">Error</p>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="col-sm-2 control-label">ありがとした人</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{fromName}" size="30" maxlength="80" />
                            <span class="help-inline">
                                <p th:errors="*{fromName}">Error</p>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="col-sm-2 control-label">ありがとされた人</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{toName}" size="30" maxlength="80" />
                            <span class="help-inline">
                                <p th:errors="*{toName}">Error</p>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="col-sm-2 control-label">ありがとした日（yyyy/mm/dd）</label>
                        <div class="col-sm-10">
                            <input style="width: 20%;display: inline;" class="form-control" th:field="*{dateFrom}" size="10" maxlength="10" />－<input style="width: 20%;display: inline;" class="form-control" th:field="*{dateTo}" size="10" maxlength="10" />
                            <span class="help-inline">
                                <p th:errors="*{dateFrom}">Error</p>
                                <p th:errors="*{dateTo}">Error</p>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" name="find" class="btn btn-default bg-purple">検索</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">検索結果</h3>
        </div>
        <div class="box-body table-responsive">
            <table id="users" class="table table-hover" th:if="${page} != null">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>だれ？</th>
                    <th>内容</th>
                    <th class="fa fa-trash">削除</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="arigato: ${page.data}" th:object="${arigato}">
                    <td th:text="*{id}" />

                    <td>
                        <span th:text="*{subject}" /> (<span th:text="*{#temporals.format(createdAt, 'yyyy/MM/dd HH:mm:ss')}" />)
                        <br />
                        &nbsp;<image th:if="*{from.hasImage()}" height="30px" th:src="@{/users/users/__*{from.id}__/image}" />
                        <span th:text="*{from.name}" /> から
                        <br />
                        &nbsp;<image th:if="*{to.hasImage()}" height="30px" th:src="@{/users/users/__*{to.id}__/image}" />
                        <span th:text="*{to.name}" /> へ
                    </td>
                    <td>
                        <span th:text="*{body}" />
                        ★<span th:text="*{favCounts}" />
                        <br>
                        <a th:if="*{hasImage()}" th:href="@{/arigato/__*{id}__/image/__*{firstImageId}__}" target="_brank"><image width="50px" th:src="@{/arigato/__*{id}__/image/__*{firstImageId}__}" /></a>
                    </td>

                    <td>
                        <button class="delete" th:data-id="*{id}" >削除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <div th:replace="~{fragments/paginator :: paginator (${page}, '/arigato/find')}" />
        </div>
    </div>
</section>
</body>
<div layout:fragment="scripts">
    <script type="text/javascript" th:inline="javascript">
            $(document).ready(function() {
                $('.delete').on('click', event => {
                    var $this = $(event.currentTarget)
                    if( ! confirm('削除すると戻せません。\n本当に消しますか？')){
                        return;
                    }
                    $.ajax({
                        url: '/admin/api/v1/arigato/' + $this.data('id'),
                        type: 'DELETE'
                    }).done( (data) => {
                        $this.parents('tr').remove()
                    }).fail( (data) => {
                        alert('error'); //TODO Fake It
                    })
                })
            });
        </script>
</div>
</html>
