<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body>
        <aside class="main-sidebar" th:fragment="sidebar (category, item)">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <!--/* メニューヘッダー */-->
                    <!--/* Font-Awesomeアイコン http://fontawesome.io/icons/ */-->
                    <!--li class="header">機能一覧</li-->
                    <!--/* メニュー項目 */-->
                    <li id="userMenu" class="treeview" th:class="|treeview ${category=='arigato' ? 'active' : ''}|">
                        <a href="#"><i class="fa fa-user-plus"></i>
                            <span>管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="toArigatoList" th:class="${item=='arigato' ? 'active' : ''}"><a href="javascript:void(0)" th:href="@{/arigato}"><i class="fa fa-commenting"></i>ありがと一覧</a></li>
                            <li id="toUserList" th:class="${item=='user' ? 'active' : ''}"><a href="javascript:void(0)" th:href="@{/users/users/find(page=1)}"><i class="fa fa-user-o"></i>ユーザ一覧</a></li>
                            <li id="toUserList" th:class="${item=='trash' ? 'active' : ''}"><a href="javascript:void(0)" th:href="@{/}"><i class="fa fa-trash-o"></i>削除されたありがと一覧</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
    </body>
</html>
